@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

:root {
  --primary-dark: #34433e;
  --primary-yellow: #f4ce14;
  --yellow-hover: #e6c00d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

main {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: var(--primary-dark);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-yellow);
  border-radius: 10px;
  border: 2px solid var(--primary-dark);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--yellow-hover);
}

::-webkit-scrollbar-corner {
  background: var(--primary-dark);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-yellow) var(--primary-dark);
}

body {
  background-color: #f8f8f8;
  font-family: 'Karla', sans-serif;
  margin: 0;
  padding: 0;
}
@media (max-width: 768px) {
  main {
    padding: 0 0rem;
  }
}